DEBUG=true
WEBAPP_HOST=0.0.0.0
WEBAPP_PORT=8000

DATABASE_URL=postgresql://app:app@db:5432/app
ASYNC_DATABASE_URL=postgresql+asyncpg://app:app@db:5432/app

BOT_TOKEN=changeme
BITRIX24_WEBHOOK_URL=https://b24-2z1un2.bitrix24.ru/rest/1/fxxfi7pagl83phaz/

GOOGLE_SERVICE_ACCOUNT=./service_account.json

SHEET_DOC_ID=https://docs.google.com/spreadsheets/d/1Btj2jCQy1HZZMIsTp6MyZd1tavuajDAcggOKX0eqYUM

CHROMA_PERSIST_DIR=./chroma_db

CACHE_TTL=300

OLLAMA_HOST=http://ollama:11434