version: "3.9"

networks:
  app_network:
    driver: bridge

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  api:

    build:
      context: ..
      dockerfile: docker/Dockerfile
    env_file:
      - ../env.example
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    networks:
      - app_network

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    restart: unless-stopped
    volumes:
       - ollama_data:/root/.ollama
    networks:
      - app_network
    entrypoint: >
      sh -c "
        ollama serve &
        sleep 2 &&
        ollama pull qwen2.5:3b-instruct &&
        ollama run qwen2.5:3b-instruct &&
        tail -f /dev/null
      "
    deploy:
      resources:
        limits:
          memory: 4g

volumes:
  postgres_data:
  ollama_data:

